<h1>Location and Map</h1>
<div>
<iframe width="800" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?q=Hofbr%C3%A4uhaus+Pittsburgh&amp;layer=c&amp;sll=40.428688,-79.964471&amp;cid=8437573384795856153&amp;panoid=a1L-WCsQEqIAAAQJOR53jw&amp;cbp=13,134.06,,0,0&amp;ie=UTF8&amp;hq=Hofbr%C3%A4uhaus+Pittsburgh&amp;hnear=&amp;ll=40.428688,-79.964471&amp;spn=0.006295,0.006295&amp;t=m&amp;cbll=40.428796,-79.964791&amp;source=embed&amp;output=svembed"></iframe><br /><small><a href="https://www.google.com/maps?q=Hofbr%C3%A4uhaus+Pittsburgh&amp;layer=c&amp;sll=40.428688,-79.964471&amp;cid=8437573384795856153&amp;panoid=a1L-WCsQEqIAAAQJOR53jw&amp;cbp=13,134.06,,0,0&amp;ie=UTF8&amp;hq=Hofbr%C3%A4uhaus+Pittsburgh&amp;hnear=&amp;ll=40.428688,-79.964471&amp;spn=0.006295,0.006295&amp;t=m&amp;cbll=40.428796,-79.964791&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
<p class="address">
Hofbräuhaus Pittsburgh<br />
2705 S Water St<br />
Pittsburgh, PA 15203, United States
</p>