/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *
 */

/*header {
  height: 15%;
}*/

html,
body {
  height: 100%;
  background: url("/assets/hofbrauhaus_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;    /* Pad bottom by footer height */
}

h1 {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 50px;
  color: #cab451;
}

.logo {
  width: 70px;
  height: 70px;
  float: left;
}

.address {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.iframecontainer{
  margin-left: auto;
  margin-right: auto;
}

.menudisplay {
  font-size: 20px;
  text-align: center;
  list-style-type: none;
}

.loglinks {
  font-size: 18px;
}

#links img {
  width: 220px;
}

.img-thumbnail {
  border-width: 3px;
}

navbar {
  height: 20px;
}

#footer {
  height: 60px;
}

#footer {
  background-color: #f5f5f5;
}

footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.container .credit {
  text-align: right;
  margin: 20px 0;
}

#wrap p {
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}